body {
    background-color: #c2e4ff;
    background-image: linear-gradient(90deg,rgba(194,228,255,1) 0%, rgba(133,201,255,1) 100%);

    display: flex;
    justify-content: center;
  }
  h1{
    font-family:sans-serif;
    font-weight:300;
    display: flex;
    justify-content: center;
  }
  
  button {
    background: #fff;
    border-radius: 8px;
    padding: 5px 10px;
  }
  #value {
    font-family: sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
  }